.promo__text {
  padding: 45px 0 130px;
  padding-right: 30px;
  height: 144px;
}
.info__block {
  text-align: center;
  padding-right: 70px;
}
.promo__content {
  height: 500px;
}
.info__text {
  font-size: 19px;
}
