html {
  font-size: 10px;
  scroll-behavior: smooth;
}
.typed-cursor {
  display: none;
}
a {
  cursor: url('images/cursorClick.png'), pointer;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in;
}
body {
  font-size: 1.7rem;
  font-family: 'Alegreya SC', serif;
  color: white;
  background-color: #1a1a1a;
  cursor: url('images/cursor.png'), default;
}
.main-background {
  background-color: black;
  background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('images/main-pic5.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
}

h2 {
}

h3 {
}

hr {
  position: relative;
  top: -45px;
  margin: 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #737373;
}
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  transition: transform 0.7s ease-in-out;
  position: fixed;
  bottom: 50px;
  right: 15px;
  background-color: #252525;
  color: #ac4042;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  transform: rotate(630deg);
  background-color: #252525;
}

.map {
  margin-top: 50px;
}
.map .iframe a {
}
